<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.artear.providersexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            </activity>

        <!--<meta-data
            android:name="io.fabric.ApiKey"
            android:value="92362e2688b19c2f5f160bb110ba8a30638c4935" />-->
        <!--TODO You must to set your own api key value from your organization in Fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b5bbeebf1644cf604ad57053119537507cdbc96c" />
    </application>
</manifest>
